/* SELECTOR DE POSICION EN UNA LISTA */

/* nota: no hace falta especificar li si la lista sólo tiene li... */

/* un elemento empezando desde el principio */
ul#prueba1 li:nth-child(3){
    color: blue;
}

/* un elemento empezando desde el final */
ul#prueba1 :nth-last-child(1){
    color: green;
}

/* con ciclos de repetición an+b (a=ciclo | b=a cual le afecta) (de cada 3 el segundo) (even = pares | odd = impares), HACE EL CICLO CON TODOS LOS TIPOS DE HIJOS Y SE LO APLICA AL TIPO CONCRETO QUE YO HAYA ESPCIFICADO*/
ol#prueba2 :nth-child(3n+2){
    color: tomato;
}

/* si tiene hijos de distintos tipos y yo quiero un tipo concreto, HACE EL CICLO SOLO CON EL TIPO CONCRETO QUE YO LE ESPECIFIQUE */
ul li:nth-of-type(3){
    color: aqua;
}

/* atajos: (primer hijo) (ultimo hijo) (even = pares) (odd = impares) */
ol#prueba2 :first-child {
    font-style: italic;
}
ol#prueba2 :last-child {
    font-style: italic;
}
ol#prueba2 :nth-child(even){
    color: tomato;
}
ol#prueba2 :nth-child(odd){
    color: tomato;
}

/* a partir del elemento 5 en adelante */
ol#prueba3 :nth-child(n+5){
    color: brown;
} 

/* del elemento 1 hasta el 3 */
ol#prueba3 :nth-child(-n+3){
    text-decoration: underline;
}

/* NTH-CHLID CAE EN EL EXAMEN */