/* avanzados.css */

/* atributos */
[title] {
    background-color: red;
}

/* tittle que contenga la palabra */
[title*="pendiente"] {
  background-color: black;
}

/* que acabe por .pdf */
[href$=".pdf"] {
  background-color: salmon;
}

/* sibling */
h3 ~ h4 {
    background-color: lightgoldenrodyellow;
}

/* adyacente */
h1 + p, 
h2 + p {
    background-color: lime;
}

/* hijo */
article > p {
  color: red;
  text-align: center;
}

article p {
  color: blue;
  font-style: italic;
}
