h1 {
    text-align: center;
}

p {
    color: blue;
}

/* desendente */
section p {
    color: green;
}

section aside p {
    color: brown;
}

/* agrupacion */
h1,
h2,
h3 {
    text-decoration: underline;
    font-style: italic;
}

/* selector de clase */
.novedad {
    background-color: cyan;
}

.novedad.urgente {
    color: tomato;
}

/* selector de id */
#resumen {
    text-align: center;
}

/* por ejemplo si usamos esta hoja de estilos como plantilla para varias paginas */
p#resumen {
    text-align: center;
}

/* * {
    margin: 0;
    padding: 0;
} */