/* SELECTORES CSS */

/* La regla se le aplica al selector mas cerca del corchete */

/* SELECTOR DE ETIQUETAS */
h1 {
    text-align: center;
}

p {
    color: blue;
}


/* SELECTOR DE AGRUPACIÓN CON ,*/
h1, h2, h3 {
    text-decoration: underline;
    font-style: italic;
}

/* SELECTOR DESCENDENTE (algo dentro de algo) */
section p {
    color: green;
}

section aside p {
    color: brown;
}

/* ESPECIFICIDAD: (numero de selectores de ID, numero de selectores de CLASE, numero de selectores de ETIQUETA) */

/* SELECTOR DE CLASE y PEGADOR DE SELECTORES (se tienen que cumplir los 3 selectores)*/
.novedad {
    background-color: cyan;
}

p.novedad.urgente {
    color: yellow;
}

/* Selector de id */
p#resumen {
    text-align: center;
}